fastapi
uvicorn

#db
sqlalchemy
alembic
psycopg2


#testing
pytest
requests


python-dotenv


#security
# passlib[bcrypt]
passlib
bcrypt


#authentication
python-jose


pydantic[email]
python-multipart